{% extends "base_generic.html" %}

{% block content %}

<div style="padding-top: 100px;">
    <h1>All Borrowed Services</h1>

    {% if serviceinstance_list %}
    <ul>

    {% for serviceinst in serviceinstance_list %} 
      <li class="{% if serviceinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'service_detail' serviceinst.service.pk %}">{{serviceinst.service.activity}}</a> ({{ serviceinst.engaged }}) 
      {% if user.is_staff %}
        {{ serviceinst.borrower }}
      {% endif %}
      {% if perms.adventuretravel.can_mark_returned %}
        <a href="{% url 'renew_service_manager' serviceinst.id %}">Renew</a> {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no services borrowed.</p>
    {% endif %}
  </div>   
{% endblock %}
