{% extends "base_generic.html" %}

{% block content %}

<div class="logged-out">
    <div class="content-logout">
        <div>
            <h1>Logged out!</h1>
        </div>
        <div>
            <a href="{% url 'login'%}" onmouseout="this.style.opacity=1;this.filters.alpha.opacity='100';"
                onmouseover="this.style.opacity=0.2;this.filters.alpha.opacity='20';">Click here to login again.</a>
        </div>
        <div>
            <a href="{% url 'index' %}" onmouseout="this.style.opacity=1;this.filters.alpha.opacity='100';"
                onmouseover="this.style.opacity=0.2;this.filters.alpha.opacity='20';">Back to start</a>
        </div>
    </div>
</div>

<div class="circulo-oran-login"></div>
<div class="circulo-rojo-login"></div>
<div class="circulo-amarillo-login"></div>
<div class="circulo-naranjalogin"></div>

{% endblock %}