:root {
    --color-fondo: rgba(255, 255, 255, 0);
    --color-primary-0: #FD6600;
    --color-secondary-1-0: #FDA100;
    --color-secondary-2-0: #F3001C;
    --rgba-primary-0: rgba(253, 102, 0, 1);
    --rgba-secondary-1-0: rgba(253, 161, 0, 1);
    --rgba-secondary-2-0: rgba(243, 0, 28, 1);
    --seleccion-colors: rgba(253, 102, 0, 0.15);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.contenedor {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.encabezado,
.piedepagina {
    position: fixed;
    width: 100%;
    height: 7%;

}

.encabezado {

    background-color: var(--color-fondo);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-wrap: wrap;
    min-width: 240px;
    z-index: 3;
}

.nav-links {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 252px;
    height: 20px;
    left: 165px;
    top: calc(50% - 20px/2);
}

.nav-links a {

    width: 26%;
    height: 100%;
    right: auto;
    left: auto;

    font-family: 'Helvetica';
    font-style: normal;

    font-size: 14px;
    line-height: 20px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.botones-inicio {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: fixed;
    width: 221px;
    height: 40px;
    right: 165px;
    top: calc(50% - 40px/2);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.boton-login input:hover[type="submit"] {
    background: #FD6600;
    color: #FFFFFF;
    border-color: #FD6600;
    border-bottom: #FD6600;
}

.boton-login input[type="submit"] {

    width: 97px;
    height: 40px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FD6600;
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
    background: rgba(253, 102, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;


}

.boton-singup input[type="submit"] {

    width: 97px;
    height: 40px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
    border-color: #FD6600;
    border-bottom: #FD6600;
    background: #FD6600;
    border-radius: 6px;
    cursor: pointer;
}

.boton-singup input:hover[type="submit"] {

    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}

.texto-logo p {
 
    position: fixed;
    width: 208.5px;
    height: 15%;
    left: 40%;
    top: 43%;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #000000;
}


.texto-inicio,
.contenedor-circulo-imagen {
    top: calc(50% - 388px/2 + 36px);
    width: 100%;
    min-width: 150px;
    height: 150px;
    order: 0;
}

.circulo-naranja {

    position: fixed;
    width: 640px;
    height: 640px;
    right: 1%;
    top: calc(50% - 640px/2 + 36px);
    background: rgba(253, 102, 0, 0.35);
    border-radius: 50%;
}

.contenedor-circulo-imagen img {

    position: absolute;
    width: 100%;
    height: 480px;
    left: 109px;
    right: 15%;
    top: 80px;
    object-fit: cover;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    border-radius: 8px;
}

.texto-inicio {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 540px;
    height: 388px;
    left: 165px;
    top: calc(50% - 388px/2 + 36px);

}

.texto-inicio h1 {

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;

    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;

}

.texto-inicio p {

    width: 100%;
    height: 15%;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;
}

.boton-empezar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
    gap: 10px;
        
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton-empezar input[type="submit"] {

    width: 132px;
    height: 48px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    align-items: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
    background: #FD6600;
    border-color: #FD6600;
    border-bottom: #FD6600;
    border-radius: 6px;
    cursor: pointer;
}

.boton-empezar input:hover[type="submit"] {
    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}


.piedepagina {

    bottom: 0%;
    background: #0B0D17;
}

.texto-footer p {

    position: absolute;
    width: 398px;
    height: 24px;
    left: calc(50% - 398px/2 + 63px);
    top: calc(50% - 24px/2);

    font-family: 'Helvetica';
    color: #D9DBE1;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    font-feature-settings: 'salt' on, 'liga' off;
}