:root {
    --color-fondo: rgba(255, 255, 255, 0);
    --color-primary-0: #FD6600;
    --color-secondary-1-0: #FDA100;
    --color-secondary-2-0: #F3001C;
    --rgba-primary-0: rgba(253, 102, 0, 1);
    --rgba-secondary-1-0: rgba(253, 161, 0, 1);
    --rgba-secondary-2-0: rgba(243, 0, 28, 1);
    --seleccion-colors: rgba(253, 102, 0, 0.15);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.contenedor {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.encabezado,
.piedepagina {
    position: fixed;
    width: 100%;
    height: 7%;

}

.encabezado {

    background-color: var(--color-fondo);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-wrap: wrap;
    min-width: 240px;
    z-index: 3;
}

.nav-links {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 252px;
    height: 20px;
    left: 165px;
    top: calc(50% - 20px/2);
}

.nav-links a {

    width: 26%;
    height: 100%;
    right: auto;
    left: auto;

    font-family: 'Helvetica';
    font-style: normal;

    font-size: 14px;
    line-height: 20px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.botones-inicio {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: fixed;
    width: 221px;
    height: 40px;
    right: 165px;
    top: calc(50% - 40px/2);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.boton-login input:hover[type="submit"] {
    background: #FD6600;
    color: #FFFFFF;
    border-color: #FD6600;
    border-bottom: #FD6600;
    border-right: #FD6600;
}

.boton-login input[type="submit"] {

    width: 97px;
    height: 40px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FD6600;
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
    background: rgba(253, 102, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;
}

.boton-singup input[type="submit"] {

    width: 97px;
    height: 40px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
    border-color: #FD6600;
    border-bottom: #FD6600;
    background: #FD6600;
    border-right: #FD6600;
    border-radius: 6px;
    cursor: pointer;
}

.boton-singup input:hover[type="submit"] {

    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}

.texto-logo a{
 
    position: fixed;
    width: 208.5px;
    height: 15%;
    left: 40%;
    top: 43%;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #000000;
}


.texto-inicio,
.contenedor-circulo-imagen {
    top: calc(50% - 388px/2 + 36px);
    width: 100%;
    min-width: 150px;
    height: 150px;
    order: 0;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 35px;
    height: 35px;
    right: 28px;
    top: calc(50% - 35px/2 + 0.5px);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;

    background-color: rgb(255, 255, 255);
    min-width: 70px;
    z-index: 1;
    border-radius: 2%;
}

.dropdown-content a, p{

    padding: 12px 16px;
    text-decoration: none;
    display: block;

    width: 26%;
    height: 100%;
    right: auto;
    left: auto;

    font-family: 'Helvetica';
    font-style: normal;

    font-size: 14px;
    line-height: 20px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dropdown:hover .dropdown-content {display: block;}


.circulo-naranja {

    position: fixed;
    width: 640px;
    height: 640px;
    right: 1%;
    top: calc(50% - 640px/2 + 36px);
    background: rgba(253, 102, 0, 0.35);
    border-radius: 50%;
}

.contenedor-circulo-imagen img {

    position: absolute;
    width: 100%;
    height: 480px;
    left: 109px;
    right: 15%;
    top: 80px;
    object-fit: cover;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    border-radius: 8px;
}

.texto-inicio {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 540px;
    height: 388px;
    left: 165px;
    top: calc(50% - 388px/2 + 36px);

}

.texto-inicio h1 {

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;

    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;

}

.texto-inicio p {

    width: 100%;
    height: 15%;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #18191F;
}

.boton-empezar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
    gap: 10px;
        
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton-empezar input[type="submit"] {

    width: 132px;
    height: 48px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    align-items: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
    background: #FD6600;
    border-color: #FD6600;
    border-bottom: #FD6600;
    border-right: #FD6600;
    border-radius: 6px;
    cursor: pointer;
}

.boton-empezar input:hover[type="submit"] {
    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}


.piedepagina {
    width: 100%;
    bottom: 0%;
    background: #0B0D17;
    align-items: center;
}

.texto-footer p {

    position: absolute;
    width: 420px;
    height: 24px;
    left: calc(50% - 398px/2 + 63px);
    top: calc(50% - 24px/2);

    font-family: 'Helvetica';
    color: #D9DBE1;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    font-feature-settings: 'salt' on, 'liga' off;
}

/* Style login */

.loginform:first-child {

    flex: 1;
    padding: 0px;
    min-width: 240px;
    position: fixed;
    width: 532px;
    height: 720px;
    left: 2%;
    align-items: center;
    min-width: 240px;
    background: rgba(235, 15, 15, 0);
    border-radius: 51.74px;
    margin: 10px;
    margin-bottom: 0px;
    z-index: 2;
}

.titlelogin h1 {

    position: absolute;
    width: 148px;
    height: 30px;
    left: 101.26px;
    top: 168.53px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #474A57;
}

.nombre [type="text"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 232.09px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.password [type="password"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 291.22px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.login input[type="submit"]{

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
   
    border-color: #FD6600;
    border-bottom: #FD6600;
    border-right: #FD6600;
    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 350.35px;
    cursor: pointer;
    background: #FD6600;
    box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
    border-radius: 11.826px;
}

.login input:hover[type="submit"]{
    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}

.reset {
    position: absolute;
    width: 287px;
    height: 28px;
    left: 125px;
    top: 401.48px;
}

.reset p{
    width: 300px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.reset a {
    color: #FD6600;
}

.loginerror {
    position: absolute;
    width: 287px;
    height: 28px;
    left: 150px;
    top: 550.61px;
}

.loginerror p{
    width: 300px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.circulo-oran-login {

    position: fixed;
    width: 440px;
    height: 440px;
    right: 30%;
    top: calc(50% - 900px/2 + 36px);    
    background: rgba(253, 102, 0, 0.35);
    border-radius: 50%;
}

.circulo-rojo-login {

    position: fixed;
    width: 640px;
    height: 640px;

    left: 70%;
    top: calc(50% - 640px/2 + 36px);

    background: #f3001c6c;
    border-radius: 50%;
}

.circulo-amarillo-login {

    position: absolute;
    width: 72px;
    height: 72px;
    left: 642px;
    top: 244px;

    background: #FDA100;
    border-radius: 50%;
}

.circulo-naranjalogin {

    position: absolute;
    width: 102px;
    height: 102px;
    left: 1142px;
    top: 700px;

    background: #FD6600;
    border-radius: 50%;
}

/* Style logged out */


.logged-out {

    position: fixed;
    width: 440px;
    height: 440px;
    right: calc(50% - 440px/2 + 36px);
    top: calc(50% - 500px/2 + 36px);    
    background: rgba(253, 102, 0, 0.35);
    border-radius: 50%;

}

.content-logout{
    padding-top: 170px;
    padding-left: 60px;
    font-family: 'Helvetica';
    
}

.content-logout a{
    color: rgba(0, 0, 0, 0.5);
}