@import url(./style.css);

.home {
    display: flex;
    flex-wrap: wrap;
}


.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 170px;
    height: 32px;
    right: 165px;
    top: calc(50% - 32px/2);

}

.instagram {
    width: 32px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.twitter {

    width: 32px;
    height: 32px;

    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
}

.youtube {

    width: 32px;
    height: 32px;

    flex: none;
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
}

.whatsapp {
    width: 32px;
    height: 32px;

    flex: none;
    order: 3;
    align-self: center;
    flex-grow: 0;
}

.formulario-registro:first-child {

    flex: 1;
    padding: 25px;
    min-width: 240px;
    position: absolute;
    width: 532px;
    height: 800px;
    left: 2%;
    top: 7.5%;
    min-width: 240px;
    background: white;
    border-radius: 51.74px;
    margin: 20px;
    margin-bottom: 0;
    z-index: 2;
}

.titulo-form h1 {

    position: absolute;
    width: 148px;
    height: 30px;
    left: 101.26px;
    top: 168.53px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #474A57;
}

.nombre [type="text"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 232.09px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}


.email [type="email"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 291.22px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.first_name [type="text"]{
    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 350.35px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.last_name [type="text"]{
    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 409.48px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.password1 [type="password"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 468.61px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.password2 [type="password"] {

    box-sizing: border-box;

    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 527.74px;

    border: 1.4783px solid rgba(11, 70, 84, 0.25);
    border-radius: 5.91319px;
}

.check-terminos {

    position: absolute;
    width: 234px;
    height: 19px;
    left: 129px;
    top: 586.87px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(0, 0, 0, 0.5);
}

.check-terminos a {
    color: #FD6600;
}

.aceptarterminos {
    box-sizing: border-box;

    position: absolute;
    width: 17.74px;
    height: 17.74px;
    right: 104%;

    cursor: pointer;
    border: 0.739149px solid rgba(11, 70, 84, 0.24);
    border-radius: 2.9566px;
}



.enviar-registro input[type="submit"]{

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
   
    border-color: #FD6600;
    border-bottom: #FD6600;    
    position: absolute;
    width: 328.92px;
    height: 41.39px;
    left: 101.26px;
    top: 640.45px;
    cursor: pointer;
    background: #FD6600;
    box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
    border-radius: 11.826px;
}

.enviar-registro input:hover[type="submit"]{
    color: #FD6600;
    background: rgba(253, 102, 0, 0.15);
    border-color: rgba(253, 102, 0, 0.15);
    border-bottom: rgba(253, 102, 0, 0.15);
}

.contenedor-circuloimg-signup {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin: 20px;

    position: fixed;
    top: calc(15% - 388px/2 + 36px);
    left: calc(81.8% - 388px/2 + 36px);

    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    perspective: 400px;
    z-index: 1;
}

.circulo-rojo {

    position: fixed;
    width: 740px;
    height: 740px;

    left: 74%;
    top: -100px;

    background: #f3001c6c;
    border-radius: 50%;
}

.contenedor-circuloimg-signup img {

    position: absolute;
    width: 90%;
    left: -20%;
    opacity: 100%;
    top: 40%;
    bottom: 100%;
    object-fit: cover;
    height: 55%;
    box-shadow: 48px 24px 48px rgba(24, 37, 56, 0.12);
    border-radius: 8px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.circulo-amarillo {

    position: absolute;
    width: 72px;
    height: 72px;
    left: 742px;
    top: 433px;

    background: #FDA100;
    border-radius: 50%;
}

.circulo-naranjasignup {

    position: absolute;
    width: 72px;
    height: 72px;
    left: 1042px;
    top: 689px;

    background: #FD6600;
    border-radius: 50%;
}

.piedepagina-registro {

    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 77.97%;
    bottom: 0%;
    width: 100%;
    min-width: 240px;

    background: #0B0D17;
    margin-bottom: 0;
}

.texto-logo-registro p {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 175px;
    height: 18px;
    left: 45%;
    top: 54px;
    min-width: 240px;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
}

.nav-links-piedepagina {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    padding: 0px;
    gap: 24px;
    min-width: 240px;
    position: absolute;
    width: 610px;
    height: 26px;
    left: 38%;
    top: 108px;
}

.nav-links-piedepagina a {

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;

    flex: none;
    flex-grow: 0;
}

.texto-piedepagina-signup p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 370px;
    height: 24px;
    left: 11.5%;
    top: 83%;


    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    font-feature-settings: 'salt' on, 'liga' off;

    color: #D9DBE1;
}

.divisor {

    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 11.46%;
    right: 11.46%;
    top: 71.09%;
    bottom: 28.52%;
    min-width: 240px;

    background: #FFFFFF;
    opacity: 0.2;
}

.redes-footer {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 144px;
    height: 24px;
    right: 165px;
    top: calc(50% - 24px/2 + 91px);
    min-width: 240px;
}

.redes-footer img {
    width: 24px;
    height: 24px;

    flex: none;
    flex-grow: 0;
}